[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "Vulkan-Hpp"]
	path = Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
